# AI Assistant Configuration

CohereAPIKey=your_cohere_api_key_here

Username=Your_Name

Assistantname=jarvis

GroqAPIKey=your_groq_api_key_here

InputLanguage=ur

AssistantVoice=ur-PK-AsadNeural


# HuggingFace

HuggingFaceAPIKey=your_huggingface_token_here


# Weather API
# Get key from:
# https://openweathermap.org/api

WeatherAPIKey=your_weather_api_key_here

WeatherCity=your_city_name


# Conversation Settings

ConversationMode=True

HistoryWindow=20


# SerpAPI
# Get key from:
# https://serpapi.com/

SerpAPIKey=your_serpapi_key_here


# News API
# Get key from:
# https://newsdata.io/

NewsDataAPIKey=your_newsdata_key_here
